* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #EBD9A1;
  background-image: url('../public/car.png');
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 40%; /* Ajusta el tamaño de la imagen al 50% del elemento */
  height: 100%;
  width: 100% ;
  overflow-x: hidden;
}
p {
  top: 0;
  left: 0;
  max-width: fit-content;
  /* Ajusta los valores de 'top' y 'left' según dónde quieras que aparezca el mensaje */
}
.parking-select {
  color: black;
  background: transparent; /* Hace que el fondo sea transparente */
  border-radius: 20px; /* Hace que los bordes sean redondos */
  margin-top: 59px;
}
.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
  accent-color: black;
}

.buttonReverse{
  /* left: 239px; */
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  width: 150px;
  height: 200px;
  color: white;
  font-weight: 900;
  margin-right: 20px;
  position: absolute;
  top: -10px;
  /* left: 239px; */
  right: 937px;
}
.buttonReverse img {
  max-width: 100%;
  height: auto;
  position: fixed;
  width: 50px;
  top: 5px;
  left: 2px;
}
.containerRadio{  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  text-align: center;
  
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 0%);
  --black-color: hsl(0, 0%, 0%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body {
  color: var(--white-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  max-height: 100%;
  display: grid;
  align-items: center;
}
.login__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.login__form {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin: 0; /* Establece el margen a 0 */
  padding: 0; /* Establece el padding a 0 */
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  min-height: 100vh; /* Ajusta la altura mínima al 100% de la altura de la ventana del navegador */
  width: 100%; /* Ajusta el ancho al 100% del ancho de la ventana del navegador */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura */
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  display: flex; /* Hace que los elementos hijos se apilen verticalmente */
  flex-direction: column; /* Hace que los elementos hijos se apilen verticalmente */
}

/* Oculta la barra de desplazamiento en los navegadores basados en WebKit */
.login__form::-webkit-scrollbar {
  display: none;
}

/* Oculta la barra de desplazamiento en Firefox */
.login__form {
  scrollbar-width: none;
}

.login__form * {
  box-sizing: border-box; /* Asegura que el ancho de los elementos internos incluya el padding y el borde */
  max-width: 100%; /* Asegura que los elementos internos no se desborden */
  flex: 1; /* Hace que los elementos hijos se expandan para llenar el espacio vertical disponible */
}
.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.login__content, .login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
  display: block;
}
.login__icon, .login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: white;
  position: relative;
  z-index: 1;
}
.login__box-input {
  position: relative;
  margin-top: 20px;
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.login__check, .login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .login__forgot, .login__register {
  font-size: var(--small-font-size);
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
}
.login__forgot {
  color: var(--white-color);
}
.login__forgot:hover {
  text-decoration: underline;
}
.login__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  color: white;
  margin-top: 20px;
}
.report__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  color: white;
  margin-top: 20px;
}
.login__button:hover {
  background-color: white;
  color: black;
}
.login__register {
  text-align: center;
}
.login__register a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.login__register a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.login__input:focus + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
  color: white;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
  color: black;
}


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login__title {
    font-size: 2rem;
  }
}